<%- include('partials/header') -%>
<div class="container">
    <div class="mb-4 text-center">
        <h2 class="display-4"><%= movie.Title %></h2>
        <h2 class="display-4"><%= movie.Runtime %></h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <img class="img-thumbnail" src="<%= movie.Poster %>" alt="<%= movie.Title%>">
        </div>
        <div class="col-md-4">
            <!-- <h2><%= movie.Title%> <small>(<%= movie.Type%>)</small></h2> -->
            <ul class="list-unstyled">
                <style>
                    li {
                        padding: 5px 0;
                        font-weight: 700;
                        font-size: 20px;
                    }

                    i.fa-imdb {
                        color: #ffc107;
                        background-color: black;
                        font-size: 1.8em;
                    }
                    i.fa-heart{
                        color: rgb(41, 182, 41);
                    }
                </style>
                <li>Year <%= movie.Year%></li>
                <li>Release Date <%= movie.Released%></li>
                <li>Rating <span class="badge badge-info"><%= movie.Rated%></span></li>
                <li><%= movie.Genre%></li>
                <li><i class="fa fa-imdb"></i> <%= movie.imdbRating%> / 10</li>
                <% if(movie.Metascore !== 'N/A') { %>
                <li>Metascore <%= movie.Metascore %> %</li>
                <% } %>
                <li><i class="fa fa-heart pr-3"></i><%= movie.imdbVotes%></li>
                <% if(movie.Type === "series"){%>
                <li>Seasons - <%= movie.totalSeasons%></li>
                <%}%>
                <li>Director(s) <div><i class="fa fa-user-circle-o pr-4"></i><%= movie.Director%></div></li>
                <li>Cast <div><i class="fa fa-user-circle-o pr-4"></i><%= movie.Actors%></div></li>
                <li>Writer(s) <div><i class="fa fa-user-circle-o pr-4"></i><%= movie.Writer%></div></li>
            </ul>
        </div>    
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-8 text-justify">
            <h4>Plot/ Synopsis</h4>
            <p class="lead"><%= movie.Plot%></p>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>