<%- include('partials/header') -%>
<div class="container">
    <div class="mb-4 text-center">
        <h2 class="display-4"><%= movie.Title %></h2>
        <h2 class="display-4"><%= movie.Runtime %></h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 align-self-center text-center">
            <% if(movie.Poster != 'N/A') { %>
            <img class="img-thumbnail" src="<%= movie.Poster %>" alt="<%= movie.Title %>">
            <% }else { %>
            <img class="img-thumbnail" height="300px" src="http://via.placeholder.com/300x400" alt="<%= movie.Title %>">
            <% } %>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled">
                <!-- <li class="detail-item">
                    <span class="topic">Year</span> <%= movie.Year%>
                </li> -->
                <li class="detail-item">
                    <span class="topic">Release Date</span> <%= movie.Released%>
                </li>
                <li class="detail-item">
                    <span class="topic">Rating</span> <span class="badge badge-info"><%= movie.Rated%></span>
                </li>
                <li class="detail-item">
                    <%= movie.Genre%>
                </li>
                <li class="detail-item">
                    <span class="mr-3"> <i class="fa fa-imdb mr-2"></i> <%= movie.imdbRating%> / 10</span>
                    <span> <i class="fa fa-heart mr-2"></i><%= movie.imdbVotes%></span>
                </li>
                <% if(movie.Metascore !== 'N/A') { %>
                <li class="detail-item">
                    <span class="topic">Metascore</span> <%= movie.Metascore %> &percnt;
                </li>
                <% } %>
                <% if(movie.Type === "series") { %>
                <li class="detail-item">
                    <span class="topic">Seasons</span> - <%= movie.totalSeasons%>
                </li>
                <% } %>
                <li class="detail-item">
                    <span class="topic">Director</span>
                    <div>
                        <i class="fa fa-user-circle-o pr-2"></i><%= movie.Director%>
                    </div>
                </li>
                <li class="detail-item">
                    <span class="topic">Cast</span>
                    <div>
                        <!-- <i class="fa fa-user-circle-o pr-2"></i> -->
                        <small><%= movie.Actors%></small>
                    </div>
                </li>
                <li class="detail-item">
                    <span class="topic">Writer(s)</span>
                    <div>
                        <!-- <i class="fa fa-user-circle-o pr-2"></i> -->
                        <small><%= movie.Writer%></small>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-lg-10 text-justify">
            <h4>Plot/ Synopsis</h4>
            <p class="lead"><%= movie.Plot%></p>
        </div>
    </div>
</div>
<%- include('partials/footer') -%>