<%- include('partials/header') -%>

<div class="container">

    <% if(data && data.Search) { %>
    <div class="row justify-content-start mb-5" id="poster">
        <% data.Search.forEach(function(movie){ %>
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4 text-center">
            <a href="/results/<%= movie.imdbID %>" id="index-link">
                <% if(movie.Poster != 'N/A') { %>
                <img class="" height="300px" src="<%= movie.Poster %>" alt="<%= movie.Title %>">
                <% }else { %>
                <img height="300px" src="http://via.placeholder.com/200x300" alt="<%= movie.Title %>">
                <% } %>
                <h4 class="title mt-3"><%= movie.Title %></h4>
            </a>
        </div>
        <% }); %>
    </div>
    <% }else{ %>
    <div class="row justify-content-center">
        <div class="col-auto mb-4 text-center">
            <h1>COULDN'T FIND ANYTHING MATCHING YOUR SEARCH ! <br> TRY AGAIN !!</h1>
        </div>
    </div>
    <% } %>

    <form class="text-center" action="/" method="GET">
        <input class="btn btn-danger btn-lg" type="submit" value="Search More!">
    </form>
</div>

<%- include('partials/footer') -%>